<div class= "container">
  <div class="image">
    <img src="fellowhome.png">
    <div class = "tag_line">
      <h1>FIND YOUR WALDO</h1>
      <p>Affordable personalized tour and service from individuals </p>
      <p>who speak the language you love.</p>
    </div>

    <div class="guide-index-search">
      <%= form_tag guides_path, method: :get, authentication: false, id: 'search-form' do %>
      <p><%= label_tag :city %></p>
      <%= text_field_tag :city, params[:city], class: "city_css"%>
      <p><%= label_tag "language"%></p>
      <%= select_tag :language, options_from_collection_for_select(Language.all, "id", "lang"), class: "language_css" %>
      <p><%= label_tag :date %></p>
      <%= date_select :date, params[:date], class: "date_css" %>
      <%= submit_tag "Search", class: "search_button" %>
      <% end %>
    </div>
  </div>
</div>
