<div class="guide-index-search">

  <%= form_tag guides_path, method: :get, authentication: false, id: 'search-form' do %>
    <%= label_tag :city %>
    <%= text_field_tag :city, params[:city]%>
    <%= label_tag "Language"%>
    <%= select_tag :language_id, options_from_collection_for_select(Language.all, "id", "lang", params[:language_id]) %>
    <%= label_tag :date %>
    <%= date_select :date, params[:date]%>
    <!-- <%= label_tag :rate, "Rate", id: 'rate_label' %>
    <span>$20</span>
    <%= range_field_tag(:rate, 60, in: 20..100, step: 1) %>
    <span>$100</span>
    <%= collection_radio_buttons("", :category_id, Category.all, :id, :name) %> -->


    <%= submit_tag "Search", class: "search_button" %>
  <% end %>
