
<h1>All Guides</h1>


<div class="guide-index-search">
  <%= form_tag guides_path, method: :get, authentication: false, id: 'search-form' do %>
  <%= label_tag :city %>
  <%= text_field_tag :city, params[:city]%>
  <%= label_tag "Language"%>
  <%= select_tag :language_id, options_from_collection_for_select(Language.all, "id", "lang", params[:language_id]) %>
  <%= label_tag :rate, "Rate", id: 'rate_label' %>
  <span>$20</span>
  <%= range_field_tag(:rate, 60, in: 20..100, step: 1) %>
  <span>$100</span>
  <%= collection_radio_buttons("", :category_id, Category.all, :id, :name) %>


  <%= submit_tag "Search" %>
  <% end %>
  <div class = "empty_block"></div>
    <li><b>VISITOR:</b></li>
  <% if visitor_signed_in? %>
  <div class = "visitor_nav">
    <li><%= link_to "LOG OUT", destroy_visitor_session_path, method: :delete %></li>
  </div>
  <div class = "visitor_nav">
    <li><%= link_to "EDIT PROFILE", edit_visitor_registration_path, method: :get %></li>
  </div>
  <% else %>
  <div class = "visitor_nav">
    <li><%= link_to "LOG IN", new_visitor_session_path, method: :get %></li>
  </div>

  <div class = "visitor_nav">
    <li><%= link_to "SIGN UP", new_visitor_registration_path, method: :get %></li>
  </div>
  <% end %>
  </ul>
</nav>

<div class="image">
  <img src="fellow.jpeg">

<div class = "tag_line">
  <p>You are not alone.</p>
  <p>Find your own fellow anywhere, anytime.</p>
</div>

<div class="guide-index-search">
    <%= form_for guides_path, method: :get, authentication: false, id: 'search-form' do %>
    <p><%= label_tag :City %></p>
    <%= text_field_tag :city, params[:city]%>
    <p><%= label_tag "Language"%></p>
    <%= select_tag :language, options_from_collection_for_select(Language.all, "id", "lang") %>
    <%= submit_tag "Search" %>
    <% end %>
</div>
</div>




<% @guides.each do |guide| %>
 <%= link_to guide_path(guide) do %>
   <%= image_tag guide.photo %><br/>
   <%= guide.first_name %><%= guide.last_name %><br/>
   <%= guide.city %><br/>
   <%= guide.email %><br/>

   <%= button_to 'more info', guide_path(guide)%>

 <% end %>
<% end %>
