<h1>All Guides</h1>


<div class="guide-index-search">
  <%= render partial: "guides/guide_search"%>



<% @guides.each do |guide| %>
 <%= link_to guide_path(guide) do %>
   <%= image_tag guide.photo %><br/>
   <%= guide.first_name %><%= guide.last_name %><br/>
   <%= guide.city %><br/>
   <%= guide.email %><br/>

   <%= button_to 'more info', guide_path(guide)%>

 <% end %>
<% end %>
