<h1>All Guides</h1>


<% @guides.each do |guide| %>
 <%= link_to guide_path(guide) do %>
   <%= guide.photo %><br/>
   <%= guide.name %><br/>
   <%= guide.city %><br/>
   <%= guide.email %><br/>
 <% end %>
<% end %>
