<h1>Guide</h1>
<p><%= form_for @guide do |f| %></p>
  <% if @guide.errors.any? %>
    <% @guide.errors.full_messages.each do |message|%>
      <li><%= message %></li>
    <% end %>
  <% end %>

  <div class="fields">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>

  <div class="fields">
    <%= f.label :email %><br/>
    <%= f.text_field :email %>
  </div>

  <div class="fields">
    <%= f.label :password %><br/>
    <%= f.password_field :password %>
  </div>
  <div class="fields">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="fields">
    <%= f.label :photo %><br/>
    <%= f.file_field :photo %>
  </div>
  <div class="fields">
    <%= f.label :rate %><br/>
    <%= f.text_field :rate %>
  </div>
  <div class="fields">
    <%= f.label :city %><br/>
    <%= f.text_field :city %>
  </div>
  <div class= "field">
  <%= f.label :languages %>
  <%= f.select_tag :languages, options_from_collection_for_select(Language.all, "id", "lang") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
