
<h1><%= @guide.name %></h1>
<%= image_tag @guide.photo %><br/>
<p><%= @guide.rate %></p>
<p><%= @guide.city %></p>
<% @guide.languages.each do |language|%>
<p><%= language.lang %></p>
<%end%>
<h3>About Me</h3>
<p><%= @guide.description %></p>
Choose an Experience !
  <%@guide.experiences.each do |experience| %>
    <div>
      <%=link_to experience.description, new_guide_booking_path(@guide)%>
    </div>
  <%end%>
<div>
  <%= link_to 'Create a new Experience', new_guide_experience_path(@guide) %>
</div>
<div>
  <%= link_to 'Request to Book', new_guide_booking_path(@guide) %>
</div>
