<h1><%= @guide.name %></h1>
<%= image_tag @guide.photo %><br/>
<p><%= @guide.rate %></p>
<p><%= @guide.city %></p>
<% @guide.languages.each do |language|%>
<p><%= language.lang %></p>
<%end%>
<h3>About Me</h3>
<p><%= @guide.description %></p>
