<!DOCTYPE html>
<html>
<head>
  <title>FellowGuide</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> -->

  <nav>
    <ul>
      <button id ="become_guide">Become Guide</button>
        <!-- <% if guide_signed_in? %>
          <div class = "guide_nav">
            <li><%= link_to "LOG OUT", destroy_guide_session_path, method: :delete %></li>
          </div>
          <div class = "guide_nav">
            <li><%= link_to "EDIT PROFILE", edit_guide_registration_path(current_guide), method: :get %></li>
          </div>
        <% else %>

          <div class = "guide_nav">
            <li><%= link_to "LOG IN", new_guide_session_path, method: :get %></li>
          </div>
          <div class = "guide_nav">
            <li><%= link_to "SIGN UP", new_guide_registration_path, method: :get %></li>
          </div>
        <% end %> -->

        <% if visitor_signed_in? %>
          <div class = "visitor_nav">
            <li><%= link_to "LOG OUT", destroy_visitor_session_path, method: :delete %></li>
          </div>
          <div class = "visitor_nav">
            <li><%= link_to "EDIT PROFILE", edit_visitor_registration_path, method: :get %></li>
          </div>
        <% else %>

          <div class = "visitor_nav">
            <li><%= link_to "LOG IN", new_visitor_session_path, class: "visitor_login_link" %></li>
          </div>
          <div class = "visitor_nav">
            <li><%= link_to "SIGN UP", new_visitor_registration_path, class: "visitor_signup_link" %></li>
          </div>
        <% end %>
      </ul>
 </nav>

 <div class= "visitor_signup_modal">
   <button type="button" class="close">x</button>
   <%= render partial: "devise/registrations/visitor_signup"%>
 </div>

 <div class= "visitor_login_modal">
   <button type="button" class="close">x</button>
   <%= render partial: "devise/sessions/visitor_login"%>
 </div>

 <div class= "become_guide_modal">
   <button type="button" class="close">x</button>
   <%= render partial: "layouts/become_guide"%>
 </div>

<%= yield %>

</body>
</html>
